<li>
    <li>
        <% if(locals.user && locals.user.id=== post.user.id){%>
        <small>
        <a href="/posts/destroy/<%= post.id%>">Delete It</a>
        </small>
        <%}%>
        <%= post.content %>
    </li>
    <small>
        <%= post.user.name %>
    </small>
    <div>
        <% if (locals.user){%>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add comment ..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>

        <%}%>
        <div  class="post-comment-container">
            <ul id="post-comments"><%= post._id%>
                <% for (comment of post.comments){%>
                    <p>
                        <%= comment.content %>
                        <br>
                        <small>
                            <%= comment.user.name%>
                        </small>
                    </p>

                <%}%>
            </ul>

        </div>
    </div>
</li>